# Directories
.vs/
Binaries/
build/

# Files
.DS_Store
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
CMakeUserPresets.json

# Exclude
!Vendor/Binaries

# vcpkg
vcpkg_installed/
.vcpkg-root
